exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pyenv",
    ".pytest_cache",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    ".vscode",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "site-packages",
    "venv",
    "tests",
]

line-length = 80
indent-width = 4
target-version = "py312"

[format]
quote-style = "single"
indent-style = "space"
line-ending = "auto"
docstring-code-format = true
docstring-code-line-length = 80

[lint]
task-tags = [
    "TODO",
    "HACK",
    "AFIX"
]

select = [
    # pycodestyle
    "E", "W", "D",
    # Pyflakes
    "F",
    # pyupgrade
    "UP",
    # flake8-bugbear
    "B",
    # flake8-simplify
    "SIM",
]

ignore = [
    "D203",
    "D205",
    "D212",
    "D400",
    "D401",
    "D415"
]

[lint.per-file-ignores]
"docs/source/conf.py" = ["D100", "E501"]
