v=0
o=- 0 0 IN IP4 $_remote_rtp_host
s=Juturna Pipe
c=IN IP4 $_remote_rtp_host
t=0 0
a=tool:libavformat 60.16.100
m=video $_remote_rtp_port RTP/AVP $_remote_payload_type
a=rtpmap:$_remote_payload_type $_remote_codec/90000
a=fmtp:$_remote_payload_type packetization-mode=1
