ffmpeg \
    -re \
    -f rawvideo \
    -pix_fmt rgb24 \
    -s $_in_frame_shape \
    -loglevel $_process_log_level \
    -i pipe: \
    -f rtp \
    -g $_gop \
    -level 3.1 \
    -pix_fmt yuv420p \
    -preset ultrafast \
    -sdp_file $_sdp_file_path \
    -tune zerolatency \
    -vcodec libx264 \
    -vprofile baseline \
    rtp://$_dst_host:$_dst_port \
    -y