name: Release Please

on:
  workflow_dispatch:
    inputs:
      release-as:
        description: "Force exact version (e.g. 1.4.0)"
        required: false
permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-as: ${{ inputs.release-as }}
